@model PassionProject.Models.ViewModels.DetailsAttendee 
@{
    ViewBag.Title = "View";
}

<h1>Show Attendee</h1>

<a href="/Attendee/List">Back to the List</a>

<a class="btn btn-secondary" href="/Attendee/Edit/@Model.SelectedAttendee.AttendeeID">Edit Attendee</a>

<h2>@Model.SelectedAttendee.FirstName @Model.SelectedAttendee.LastName</h2>
<p>Email: @Model.SelectedAttendee.Email</p>
<p>Phone Number: @Model.SelectedAttendee.PhoneNumber</p>

<div>
    <h3>Reception Signed up for:</h3>
    @foreach (var reception in Model.RegEvents)
    {
        <a href="/Reception/View/@reception.ReceptionID">@reception.ReceptionName </a><br />
    }
</div>

<a class="btn btn-danger" href="/Attendee/DeleteConfirm/@Model.SelectedAttendee.AttendeeID">Delete Attendee</a>

