@model PassionProject.Models.ViewModels.DetailsReception
@{
    ViewBag.Title = "View";
}

<h2>About the Reception</h2>
<a href="/Reception/List">Back to the List</a>

<a class="btn btn-secondary" href="/Reception/Edit/@Model.SelectedReception.ReceptionID">Edit Reception</a>

<h3>@Model.SelectedReception.ReceptionName</h3>
<h2>Location: @Model.SelectedReception.ReceptionLocation</h2>
<p>Date: @Model.SelectedReception.ReceptionDate</p>
<p>Start Time: @Model.SelectedReception.StartTime</p>
<p>End Time: @Model.SelectedReception.EndTime</p>
<p>Price (CDN): $@Model.SelectedReception.ReceptionPrice</p>
<p>Description: @Model.SelectedReception.ReceptionDescription</p>



<div>
    <h3>Attendees:</h3>
    @foreach (var attendee in Model.RegAttendees)
            {
                <a href="/Attendee/View/@attendee.AttendeeID">@attendee.FirstName @attendee.LastName </a><a href="/Reception/Remove/@Model.SelectedReception.ReceptionID?AttendeeID=@attendee.AttendeeID" style="color: red;">[x]</a><br/>
            }
</div>

<div>
    <h4>Add New Attendees to Reception: </h4>
    <form method="POST" action="/Reception/Add/@Model.SelectedReception.ReceptionID">
        <select name="AttendeeID">
            @foreach (var attendee in Model.PotenialAttendees)
            {
                <option value="@attendee.AttendeeID">@attendee.FirstName @attendee.LastName</option>
            }
        </select>
        <input type="submit" value="Add Attendee" style="margin-top: 10px; margin-bottom: 10px;" />
    </form>
    

    
</div>

<a class="btn btn-danger" href="/Attendee/DeleteConfirm/@Model.SelectedReception.ReceptionID">Delete Reception</a>

